.tab { 
    overflow: hidden; 
    background-color: #c5d8f4; 
    border: 1px solid #ccc; 
    margin-bottom: 20px; 
}

.tab a { 
    float: left; 
    padding: 14px 16px; 
    cursor: pointer; 
    color: black; 
    font-size: 17px; 
    text-decoration: none; 
}

.tab a.active {
     background-color: #85abf2; 
}

.tabcontent { 
    display: none;
}

.inputtrans2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.inputtrans2 input,
.inputtrans2 select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.itembtn2 {
    background-color: #0d6efd;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    margin: 20px auto 0 auto; /* top auto bottom auto */
    display: block;           /* make it a block-level element */
}

.headerslogo {
    width: 40px;
    height: 40px;
}
.headermenu-title {
    display: flex;
    gap: 10px;
    background-color: #35435f;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.text-end {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}


